<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ResultServlet</servlet-name>
  	<display-name>ResultServlet</display-name>
  	<description></description>
  	<servlet-class>com.TextBasedGame.Controller.ResultServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Level1Servlet</servlet-name>
  	<display-name>Level1Servlet</display-name>
  	<description></description>
  	<servlet-class>com.TextBasedGame.Controller.Level1Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Level2Servlet</servlet-name>
  	<display-name>Level2Servlet</display-name>
  	<description></description>
  	<servlet-class>com.TextBasedGame.Controller.Level2Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForestPart1Servlet</servlet-name>
  	<display-name>ForestPart1Servlet</display-name>
  	<description></description>
  	<servlet-class>com.TextBasedGame.Controller.ForestPart1Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StartGameServlet</servlet-name>
  	<display-name>StartGameServlet</display-name>
  	<description></description>
  	<servlet-class>com.TextBasedGame.Controller.StartGameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForestPart2Servlet</servlet-name>
  	<display-name>ForestPart2Servlet</display-name>
  	<description></description>
  	<servlet-class>com.TextBasedGame.Controller.ForestPart2Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForestFightServlet</servlet-name>
  	<display-name>ForestFightServlet</display-name>
  	<description></description>
  	<servlet-class>com.TextBasedGame.Controller.ForestFightServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SchoolServlet</servlet-name>
  	<display-name>SchoolServlet</display-name>
  	<description></description>
  	<servlet-class>com.TextBasedGame.Controller.SchoolServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EncryptionServlet</servlet-name>
  	<display-name>EncryptionServlet</display-name>
  	<description></description>
  	<servlet-class>com.TextBasedGame.Controller.EncryptionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RiddleServlet</servlet-name>
  	<display-name>RiddleServlet</display-name>
  	<description></description>
  	<servlet-class>com.TextBasedGame.Controller.RiddleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>startMovieServlet</servlet-name>
  	<display-name>startMovieServlet</display-name>
  	<description></description>
  	<servlet-class>com.TextBasedGame.Controller.startMovieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AnswerServlet</servlet-name>
  	<display-name>AnswerServlet</display-name>
  	<description></description>
  	<servlet-class>com.TextBasedGame.Controller.AnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ResultServlet</servlet-name>
  	<url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Level1Servlet</servlet-name>
  	<url-pattern>/Level1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Level2Servlet</servlet-name>
  	<url-pattern>/Level2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForestPart1Servlet</servlet-name>
  	<url-pattern>/ForestPart1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StartGameServlet</servlet-name>
  	<url-pattern>/StartGameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForestPart2Servlet</servlet-name>
  	<url-pattern>/ForestPart2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForestFightServlet</servlet-name>
  	<url-pattern>/ForestFightServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SchoolServlet</servlet-name>
  	<url-pattern>/SchoolServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EncryptionServlet</servlet-name>
  	<url-pattern>/EncryptionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RiddleServlet</servlet-name>
  	<url-pattern>/RiddleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>startMovieServlet</servlet-name>
  	<url-pattern>/startMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AnswerServlet</servlet-name>
  	<url-pattern>/AnswerServlet</url-pattern>
  </servlet-mapping>
</web-app>
